input[type=submit] {
    display: block;
    width: 250px;
    height: 50px;
    background-color: rgb(41,171,226);
    color: white;
    margin: auto;
    margin-top: 50px;
    font-size: 25px;
    border: none;
}